/config

/nagios/nagiosgraph/*
!/nagios/nagiosgraph/etc/
/nagios/nagiosgraph/etc/*
!/nagios/nagiosgraph/etc/nagiosgraph.conf
/nagios/nagios/etc/*
!/nagios/nagios/etc/objects

/graphite/conf/*
/graphite/storage/*
!/graphite/storage/graphite.db

/grafana/conf/*
/grafana/data/*
!/grafana/data/grafana.db

/tir*/