/config

/nagios/nagiosgraph/*
!/nagios/nagiosgraph/etc/
/nagios/nagiosgraph/etc/*
!/nagios/nagiosgraph/etc/nagiosgraph.conf
nagios/nagios/etc/nsca.cfg
nagios/nagios/etc/send_nsca.cfg

/graphite/conf/*
/graphite/storage/*
!/graphite/storage/graphite.db
!/graphite/conf/storage-schemas.conf

/grafana/conf/*
/grafana/data/*
!/grafana/data/grafana.db

/tir*/